{% extends 'courses/nav.html' %}
{% load static %}

{% block content %}
<main style="overflow-x: hidden;">
  <link rel="stylesheet" href="{% static 'assets/css/about.css' %}" />
  <!--? Hero Start -->
  <!-- <div class="slider-area">
    <div class="slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap hero-cap2 text-center">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="about-details ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="about-details-cap mb-50">
            <h4>What is Peergrading?</h4>
            <p>
              Peer Grading, commonly referred to as peer assessment or peer evaluation,
              is the grading process that allow students to judge the work of other students.
              It is a process whereby students or their peers grade assignments or tests based on a teacher’s benchmarks. The practice is employed to save teachers time and improve students' understanding of course materials as well as improve their metacognitive skills.
              The goal is for students to critically examine the academic work of others and evaluate its quality in order to practice and deepen their knowledge of academic work.
            </p>
            <p>
              PeerGradeReview allows students to check and assess the work of their peers.
            </p>
          </div>

          <div class="about-details-cap mb-50">
            <h4>Why Peergrading?</h4>
            <p>
              <b>Motivation</b><br>
              Being judged by peers is one of the most powerful sources of motivation in a classroom.
            </p>
          </div>

          
          <div class="about-details-cap mb-50">
            <h4>Contributors</h4>
            <div class="container">
              <main class="grid">
                <div class="contain">
              <div class="user-image">
            <img src=
"https://avatars.githubusercontent.com/u/48010696?v=4"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Vaibhav Vasani</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/vaibhavvasani"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"https://www.linkedin.com/in/vaibhav-vasani-460a4162/"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
                <div class="contain">
              <div class="user-image">
            <img src=
"https://avatars.githubusercontent.com/u/38815631?v=4"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Vatsal</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/vatsal1999"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"#"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
                <div class="contain">
              <div class="user-image">
            <img src=
"https://avatars.githubusercontent.com/u/44731657?v=4"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Aditya Kaushik</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/adityak14"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"#"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
                <div class="contain">
              <div class="user-image">
            <img src=
"https://avatars.githubusercontent.com/u/61223907?v=4"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Kaushik Mehta</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/kaushikm10"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"#"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
                <div class="contain">
              <div class="user-image">
            <img src=
"https://media-exp1.licdn.com/dms/image/C4D03AQFKkXeQLXvLow/profile-displayphoto-shrink_400_400/0/1661077811570?e=1674086400&v=beta&t=DzGWxDAEDtK1sQ7nwh6vWUaONy1ZCQVGPrt7MnyoRKs"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Shrikant Sahu</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/shrikantsahu2004"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"https://www.linkedin.com/in/shrikant-sahu-505971204/"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
                <div class="contain">
              <div class="user-image">
            <img src=
"https://avatars.githubusercontent.com/u/79393177?v=4"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Kunal Maniyar</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/KunalManiyar"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"https://www.linkedin.com/in/kunal-maniyar-61a33020a/"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
            <div class="contain">
              <div class="user-image">
            <img src=
"https://media-exp1.licdn.com/dms/image/C5103AQHSkwPRm37ofw/profile-displayphoto-shrink_400_400/0/1566391060656?e=1674086400&v=beta&t=bDn8EtMyz1VlOey4oVsdFwwOgNqY5SgouS7ODO9c2RM"
            alt="this image contains user-image">
        </div>
 
        <div class="content">
            <h6 class="name">Amey Gangan</h6>
 
 
            <div class="links">
                <a class="git" href=
"https://github.com/amey-323"
                    title="GFG_github" target="_blank">
                    <i class="fab fa-github-square"></i>
                </a>
 
                <a class="linkedin" href=
"https://www.linkedin.com/in/amey-gangan-0340a2192/"
                    title="GFG_linkedin" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                 
            </div>
            </div>
              
            </div> 
              </main>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Details End -->
  <!--? Count Down Start -->
  <!-- Count Down End -->
  <!--? Testimonial Start -->

  <!-- About Law End-->
</main>
<footer>
  <!--------------------------------COPY START  ---------------------------------->
  <div class="footer-area footer-bg">
    <div class="container">
      <div class="footer-top footer-padding">
        <!-- footer Heading -->
        <div class="footer-heading">
          <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-7 col-md-10">
              <div class="footer-tittle2">
                <h4>Stay Updated</h4>
              </div>
              <!-- Form -->
              <div class="footer-form mb-50">
                <div id="mc_embed_signup">
                  <form target="_blank"
                    action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                    method="get" class="subscribe_form relative mail_part" novalidate="true">
                    <input type="email" name="EMAIL" id="newsletter-form-email" placeholder=" Email Address "
                      class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Your email address'" />
                    <div class="form-icon">
                      <button type="submit" name="submit" id="newsletter-submit"
                        class="email_icon newsletter-submit button-contactForm">
                        Subscribe Now
                      </button>
                    </div>
                    <div class="mt-10 info"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-5">
              <div class="footer-tittle2">
                <h4>Let’s Get Social</h4>
              </div>
              <!-- Footer Social -->
              <div class="footer-social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer Menu -->

        <div class="media contact-info" style="float: left;margin-right: 120px;">
          <span class="contact-info__icon" style="float: left;"><i class="ti-home"></i></span>
          <div class="media-body ">
            <h3 style="color: white;">K. J. Somaiya College of Engineering<br /><span style="margin-left: 45px;">Mumbai,
                400077<span></h3>

          </div>
        </div>
        <div class="media contact-info" style="float: left;margin-right:190px; ">
          <span class="contact-info__icon" style="float: left;"><i class="ti-tablet"></i></span>
          <div class="media-body">
            <h3 style="color: white;">+91-1234567890<br />Mon to Fri 9am to 6pm</h3>

          </div>
        </div>
        <div class="media contact-info">
          <span class="contact-info__icon"><i class="ti-email"></i></span>
          <div class="media-body">
            <h3 style="color: white;">peergrade123@gmail.com<br />Send us your query anytime!</h3>

          </div>
        </div>



      </div>
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <div class="footer-copy-right text-center">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
</footer>
<!-- Scroll Up -->
<div id="back-top">
  <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->

<script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static './assets/js/popper.min.js' %}"></script>
<script src="{% static './assets/js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static './assets/js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static './assets/js/wow.min.js' %}"></script>
<script src="{% static './assets/js/animated.headline.js' %}"></script>
<script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static './assets/js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static './assets/js/jquery.sticky.js' %}"></script>

<!-- counter , waypoint -->
<script src="{% static './assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static './assets/js/waypoints.min.js' %}"></script>

<!-- contact js -->
<script src="{% static './assets/js/contact.js' %}"></script>
<script src="{% static './assets/js/jquery.form.js' %}"></script>
<script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static './assets/js/mail-script.js' %}"></script>
<script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static './assets/js/plugins.js' %}"></script>
<script src="{% static './assets/js/main.js' %}"></script>
{% endblock %}



<!-- <main class="grid">
                <article>
                  <img src="https://picsum.photos/600/400?image=1083" alt="Sample photo">
                  <div class="text">
                    <h3>Vaibhav Vasani</h3>
                    <p>vaibhavvasani</p>
                    <a href="https://codepen.io/collection/XdWJOQ/" class="btn btn-primary btn-block">View Github</a>
                    
                  </div>
                </article>
              </main> -->